<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="jquery/jquery.min.js"></script>
    <script src="javascripts/app.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>CALCULATOR APP</title>
</head>

<body>
    <h1>4-FUNCTION CALCULATOR!!!</h1>
    <form id="inputForm" method="POST">
        <input type="number" class="number1">
        <input type="radio" name="oper" class="operator" value="+">+</input>
        <input type="radio" name="oper" class="operator" value="-">-</input>
        <input type="radio" name="oper" class="operator" value="x">x</input>
        <input type="radio" name="oper" class="operator" value="/">/</input>
        <input type="number" class="number2">
        <button type="submit">=</button>
    </form>
    <div class="appendHere">

    </div>
</body>

</html>
